$bp-mobile: 375px;
$bp-desktop: 1440px;
$fontSize: 18px;
$boiJomjuree: "Bai Jamjuree", sans-serif;
$primaryColors: (
  "strong-cyan": hsl(171, 66%, 44%),
  "light-blue": hsl(233, 100%, 69%),
);

$neutralColors: (
  "dark-grayish-blue": hsl(210, 10%, 33%),
  "grayish-blue": hsl(201, 11%, 66%),
);

$fontWeights: (
  "regular": 400,
  "semi-bold": 600,
);
